.bg-dark-blue {
  background-color: #2c3e50;
}

.bg-darkest-blue {
  background-color: #1a252f;
}

.green-main {
  background-color: #1ABC9C !important;
  color: white;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-main {
  background-color: #ffffff !important;
  color: #2C3E50;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



h2 {
  position: relative;
  
}



.b-border {
  position: relative;
}

.b-border::after {
  content: "";
  position: absolute;
  width: 41%;
  height: 3px;
  background-color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.b-border::before {
  content: "";
  position: absolute;
  width: 41%;
  height: 3px;
  background-color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bdarkBorder {
  position: relative;

}

.bdarkBorder::after {
  content: "";
  position: absolute;
  width: 41%;
  height: 3px;
  background-color: #2C3E50;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bdarkBorder::before {
  content: "";
  position: absolute;
  width: 41%;
  height: 3px;
  background-color: #2C3E50;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}